/* BGµ¼º½ */
.nav-bg1{width:336px;height:42px;margin:18px 0;}
.nav-bg1 a{width:12px;height:36px;float:left;margin-left:15px;background:url(../../../img.lanrentuku.com/img/images/bg2015.png)}

.nav-bg1 .white {background-position:-4px 0}
.nav-bg1 .black {background-position:-20px 0}
.nav-bg1 .grey {background-position:-36px 0}
.nav-bg1 .brown {background-position:-52px 0}
.nav-bg1 .orange {background-position:-68px 0}
.nav-bg1 .yellow {background-position:-84px 0}
.nav-bg1 .green {background-position:-4px -40px}
.nav-bg1 .blue {background-position:-20px -40px}
.nav-bg1 .purple {background-position:-36px -40px}
.nav-bg1 .pink {background-position:-52px -40px}
.nav-bg1 .red {background-position:-68px -40px}
.nav-bg1 .color {background-position:-84px -40px}

.nav-bg2{height:420px}
.nav-bg2 dl{display:table}
.nav-bg2 dt{height:32px;line-height:32px;border-bottom:1px dashed #E2E2E2;padding-left:8px}
.nav-bg2 dd{height:30px;width:163px;line-height:30px;float:left;border-bottom:1px dashed #E2E2E2;padding-left:5px}
.nav-bg2 dd a{color:#666;text-decoration:none;display:block}
.nav-bg2 dd a:hover{color:#390;text-decoration:underline}
.nav-bg2 dd div {width:50px;height:16px;margin:6px 12px 6px 6px;float:left;background:url(../../../img.lanrentuku.com/img/images/bg2015.png)}

.nav-bg2 .x01 {background-position:0 -80px}
.nav-bg2 .x02 {background-position:-50px -80px}
.nav-bg2 .x03 {background-position:0 -96px}
.nav-bg2 .x04 {background-position:-50px -96px}
.nav-bg2 .x05 {background-position:0 -112px}
.nav-bg2 .x06 {background-position:-50px -112px}
.nav-bg2 .x07 {background-position:0 -128px}
.nav-bg2 .x08 {background-position:-50px -128px}
.nav-bg2 .x09 {background-position:0 -144px}
.nav-bg2 .x10 {background-position:-50px -144px}
.nav-bg2 .x11 {background-position:0 -160px}
.nav-bg2 .x12 {background-position:-50px -160px}
.nav-bg2 .x13 {background-position:0 -176px}
.nav-bg2 .x14 {background-position:-50px -176px}
.nav-bg2 .x15 {background-position:0 -192px}
.nav-bg2 .x16 {background-position:-50px -192px}
.nav-bg2 .x17 {background-position:0 -208px}
.nav-bg2 .x18 {background-position:-50px -208px}
.nav-bg2 .x19 {background-position:0 -224px}
.nav-bg2 .x20 {background-position:-50px -224px}
.nav-bg2 .x21 {background-position:0 -240px}
.nav-bg2 .x22 {background-position:-50px -240px}
.nav-bg2 .x23 {background-position:0 -256px}
.nav-bg2 .x24 {background-position:-50px -256px}
.nav-bg2 .x25 {background-position:0 -272px}
.nav-bg2 .x26 {background-position:-50px -272px}

/*  */
#preview{height:100%;display:none;z-index:9999} 